<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <% if current_user.admin? %>
      <%= render 'admin_dash' %>
    <% else %>
      <%= render 'customer_dash' %>
    <% end %>
  </div>
</div>