<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="room-images">
    
    </div>
    <div class="room-name">
      <h1>#<%= @room.number %> - <%= @room.name %></h1>
    </div>
    <div class="room-description">
      <%= @room.description %>
    </div>
    <div class="room-price">
      Price per day: <strong><%= @room.price_per_day %> &euro;<strong>
    </div>
  </div>
</div>