.rooms-filter {
  display: flex;
  border: 1px solid #aaa;
  border-radius: 5px;
  margin-bottom: 30px;

  a {
    padding: 20px 10px;
    width: 100%;
    text-align: center;
    font-size: 1.5em;

    &:first-child {
      display: inline-block;
      border-right: 1px solid #aaa;
    }

    &:hover, &:active {
      text-decoration: none;
      background-color: #f3f3f3;
    }
  }

  form div {
    width: 100%;
  }
}

.rooms-list ul {
  list-style: none;
  padding: 0;
  border: 1px solid #aaa;
  border-radius: 5px;

  li {
    padding: 20px 20px;
    border-bottom: 1px solid #aaa;

    &:last-child {
      border: none;
    }

    .room-name {
      font-weight: 600;
    }
  }
}

.rooms-list ul.customer-list li {
  padding: 0;

  a {
    display: block;
    padding: 20px 20px;
    color: inherit;

    &:hover, &:active {
      text-decoration: none;
      background-color: #f3f3f3;
    }
  }
}

.active {
  box-shadow: inset 0px -5px 0px 0px blue;
}

.price-filter,
.date-filter {
  padding: 20px;
  flex-grow: 1;

  h3 {
    margin-top: 0;
  }
}

.room-images {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;

  img {
    width: 40%;
  }
}